.main__temperature-box {
    position: relative;
    background-color: #1E90FF;
    border-radius: 0.5rem;
    height: 56px;
    width: 100%;
    overflow: visible;
    user-select: none;
}


.main__temperature-text {
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 56px;
    padding-left: 1rem;
}

.main__weather-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 56px;
    width: 80px;
    object-fit: contain;
}


.main__description {
    margin-top: 1rem;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    user-select: none;
}