.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #F3F3F3;
    /* gray-200 */
}

.header__left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__logo {
    font-weight: 800;
    font-size: 1.25rem;
    color: black;
    user-select: none;
}

.header__location {
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
    user-select: none;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
    user-select: none;
}

.header__center {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: end;
}

.header__add-btn {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.header__add-btn:hover {
    text-decoration: underline;
}

.header__add-btn:focus {
    outline: none;
}

.header__profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.header__profile button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    padding-inline: 9px;
}

.header__profile button:hover {
    text-decoration: underline;
}
.header__profile button:focus {
    outline: none;
}

.header__avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 9999px;
    object-fit: cover;
}

.header__profile-link {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.header__profile-link span {
    color: black;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        background-color: #F3F3F3;
    }

    .header__left {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
    }

    .header__logo {
        font-weight: 800;
        font-size: 1.25rem;
        color: black;
        user-select: none;
    }

    .header__center {
        width: 20%;
        align-items: start;
    }

    .header__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header__add-btn {
        order: 2;
        margin-left: 50px;
    }

    .header__profile {
        order: 1;

    }
}