.clothes {
    padding: 5px;
}

.clother__header {
    display: flex;
    gap: 20px;
}

.clothes__title {
    font-weight: 800;

}

.clother__add-btn {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.clother__items {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    margin-top: 20px;
}